{% extends 'base.html' %}

{% block titulo %}Libros{% endblock %}

{% block item_libros %}
    <li class="nav-item active">
{% endblock %}

{% block contenido_libros %}
    <div class="container">
        <h2 style="text-align: center;">Bienvenido, aquí puedes ver todos los libros</h2> 
    </div>
    <div class="container">
        <div class="buscador-nombre"style="text-align: center;">
            {% if usuario == 'admin' %}
                <p><a href="{% url 'add_libro' %}">
                    <span class="id-nombre">Añadir</span></a> un nuevo libro.
                </p>
            {% endif %}
        </div>
    </div>

    <div class="container" style="text-align: center;">
        {% for i in libros %}
                <div class="libros">
                    <div class="colum" id="libro">
                        <p>Título: <span class="datos_libro">{{ i.titulo }}</span></p>
                        <p>Autor: <span class="datos_libro">{{ i.autor }}</p></span>
                        <p>Año: <span class="datos_libro">{{ i.anio }}</p></span>
                        {% if not i.reservado %}
                        {% if usuario and usuario != 'admin' %}
                            <p><a href="{% url 'reservar_libro' i.id %}">Reservar</a></p>
                        {% endif %}
                        {% else %}
                        <p style="color: red;">Reservado</p>
                        {% endif %}
                        {% if usuario == 'admin' and not i.reservado %}
                        <p><a href="{% url 'modificar_libro' i.id %}">Modificar</a></p>
                        <p><a href="{% url 'eliminar_libro' i.id %}">Eliminar</a></p>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
