{% extends 'base.html' %}

{% block titulo %}Préstamos{% endblock %}

{% block item_prestamos %}
    <li class="nav-item active">
{% endblock %}

{% block contenido_prestamos %}
<div class="container">
    <h2 style="text-align: center;">Bienvenido, aquí puedes ver todos los libros reservados</h2> 
</div>

<div class="container" style="text-align: center;">
    {% for i in prestamos %}
            <div class="libros">
                <div class="colum" id="libro">
                    <p>Título: <span class="datos_reserva">{{ i.libro.titulo }}</span></p>
                    <p>Autor: <span class="datos_reserva">{{ i.libro.autor }}</span></p>
                    <p>Año: <span class="datos_reserva">{{ i.libro.anio }}</span></p>
                    <p>Fecha: <span class="datos_reserva">{{ i.fecha }}</span></p>
                    <p>Reservado por: <span class="datos_reserva">{{ i.usuario }}</span></p>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}
