{% extends "base_form.html" %}

{% block titulo %}Registro{% endblock %}

{% block formulario %}
        <form method="POST">
            <input type="text" id="login" class="fadeIn second"
                name="usuario" placeholder="Usuario..." value="{{request.form.username }}">
            <input type="password" id="password" class="fadeIn third"
                name="password" placeholder="Contraseña...">
            <input type="submit" class="fadeIn fourth" value="Registro">
        </form>
{% endblock %}
