{% extends "base.html" %}

{% block titulo %}Buscador{% endblock %}

{%block addlink %}

{% endblock %}

{% block item_api %}
    <li class="nav-item active" style="font-weight: bold;">
{% endblock %}

{% block contenido_api %}

<div class="container">
    <div class="buscador-nombre">
        <p>Puedes buscar Pokémon por su <span class="id-nombre">nombre</span>:</p>
            <form class="formulario-busqueda-nombre" method="POST">
                <div class="row">
                    <div class="col-3">
                    </div>
                <div class="col-6">
                    <input type="text" id="buscar" class="form-control" name="pokemon-introducido" placeholder="Nombre">
                </div>
                <div class="col-3">
                </div>
                </div>
            </form>
    </div>
</div>
<div id="txt">

<script src="{{ url_for('static', filename='js/jquery_busqueda.js') }}"></script>

</div>
{% endblock %}
