{% extends "base.html" %}

{% block titulo %}API{% endblock %}

{%block addlink %}

{% endblock %}

{% block item_api %}
    <li class="nav-item active" style="font-weight: bold;">
{% endblock %}

{% block contenido_api %}

<div class="container">
    <div class="buscador-nombre">
        <p>Puedes buscar Pokémon por su <span class="id-nombre">nombre</span>:</p>
            <form class="formulario-busqueda-nombre" method="POST">
                <div class="row">
                    <div class="col-3">
                    </div>
                <div class="col-6">
                    <input type="text" id="buscar" class="form-control" name="pokemon-introducido" placeholder="Nombre">
                </div>
                <div class="col-3">
                </div>
                </div>
            </form>
    </div>
</div>
<div id="txt">

<script>
    $(document).ready(function() {

        $('#buscar').keyup(function() {
            let letrasFormulario = $(this).val();

            $.ajax({
            // Petición a la API, verbo GET y obtenemos un JSON
            url: `http://localhost:5000/api/filtro_pokemon?name=${letrasFormulario}`,
            type : 'GET',
            dataType : 'json',

	        success: function(datos) {
                let HTMLMostrar = '<div class="container" style="text-align: center;"><div class="row">';
                let pares = false;
                $.each(datos, function (i, valor) {
                    if (pares) {
                        HTMLMostrar += '<div class="pokemon-pares"><div class="colum">';
                        pares = false;
                    } else {
                        HTMLMostrar += '<div class="pokemon-impares"><div class="colum">';
                        pares = true;
                    }

                    HTMLMostrar += `<img src="${valor.img}">`;
                    HTMLMostrar += `<p>${valor.numero} | ${valor.nombre}</p>`;
                    HTMLMostrar += `<p><a href="">Eliminar</a></p>`;
                    HTMLMostrar += '</div></div>';
                });
                HTMLMostrar += '</div></div>';
                document.getElementById("txt").innerHTML = HTMLMostrar;
            },

	        error: function() {
                console.log("No se ha podido obtener la información");
            }
        });
        });
        
    });
</script>

</div>
{% endblock %}
