<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estilo.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous">
    </script>
    <title>{% block titulo %}Bienvenido{% endblock %}</title>
    
    <!--El siguiente bloque es por si es necesario añadir algún link en alguna página-->
    {%block addlink %}{% endblock %}

</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">
        <img src="{{ url_for('static', filename='images/usuario2.png') }}" width="30" height="30" alt="Imagen con el logo">    
        </a>
        <a class="navbar-brand" href="{{ url_for('index')}}">UsuarioApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                {% block item_inicio %}
                <li class="nav-item">
                {% endblock %}
                    <a class="nav-link" href="{{ url_for('index')}}">Inicio<span class="sr-only">(current)</span></a>
                </li>
                
                {% block item_pokemon %}
                <li class="nav-item">
                {% endblock %}
                    <a class="nav-link" href="{{ url_for('pokedex')}}">Pokédex</a>
                </li>

                {% block item_api %}
                <li class="nav-item">
                {% endblock %}
                    <a class="nav-link" href="{{ url_for('api')}}">Buscador<span class="sr-only">(current)</span></a>
                </li>

                {% block item_ejercicios %}
                <li class="nav-item dropdown">
                {% endblock %}
                    <a class="nav-link dropdown-toggle" href="#"
                        id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Ejercicios 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            href="{{ url_for('interfaz_ejercicios', nombre='Ordenación burbuja', ejercicio='burbuja')}}">Ordena burbuja
                        </a>
                        <div class="dropdown-divider"></div>
                        <!--AQUÍIIIIII-->
                        <a class="dropdown-item"
                            href="{{ url_for('interfaz_ejercicios', nombre='Ordenación selección', ejercicio='seleccion')}}">Ordena selección
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                            href="{{ url_for('interfaz_ejercicios', nombre='Criba de Eratóstenes', ejercicio='criba')}}">Criba
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                            href="{{ url_for('interfaz_ejercicios', nombre='Sucesión de Fibonacci', ejercicio='fibonacci')}}">Fibonacci
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                            href="{{ url_for('interfaz_ejercicios', nombre='Comprobar secuencia de corchetes balanceada', ejercicio='corchetes')}}">Corchetes
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                            href="{{ url_for('interfaz_ejercicios', nombre='Identificar correo correcto', ejercicio='correo')}}">Validar correo
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                            href="{{ url_for('interfaz_ejercicios', nombre='Identificar tarjeta de crédito correcta', ejercicio='tarjeta')}}">Validar tarjeta
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                            href="{{ url_for('interfaz_ejercicios', nombre='Identificar palabra correcta', ejercicio='palabra')}}">Validar palabra
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                            href="{{ url_for('interfaz_ejercicios', nombre='Dibujar figuras aleatorias SVG', ejercicio='svg')}}">Figuras SVG
                        </a>
                    </div>
                </li>
                {% if usuario %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ver_datos')}}">Mis datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('modificar_datos')}}">Modificar mis datos</a>
                </li>
                {% endif %}
                {% if paginas %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                        id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Últimas páginas visitadas 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for key, value in paginas.items() %}
                            <a class="dropdown-item" href="{{ key }}">{{ value }}</a>
                                {% if not loop.last %}
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% endif %}

                <div class="cambio-boton">
                    <div class="cambio-oscuro">
                        <button type="button" id="boton-oscuro" name="" class="btn btn-dark">Modo noche</button>
                    </div>
                    <div class="cambio-claro">
                        <button type="button" id="boton-claro" name="" class="btn btn-light">Modo día</button>
                    </div>
                </div>

                <script src="{{ url_for('static', filename='js/jquery_modo_noche.js') }}"></script>
            </ul>
            
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                {% if usuario %}
                <div class="btn-group mr-1">
                    <p id="mensaje-bienvenida">Bienvenido <span class="nombre-usuario">{{ usuario }}</span></p>
                </div>
                <div id="bienvenida-boton" class="btn-group mr-2" role="group" aria-label="First group">   
                    <a role="button" href="{{ url_for('logout') }}" type="button" class="btn btn-outline-danger">LogOut</a>
                </div>
                {% else %}
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a role="button" href="{{ url_for('login') }}" type="button" class="btn btn-outline-success">LogIn</a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <a role="button" href="{{ url_for('registro') }}" type="button" class="btn btn-outline-dark">Regístrate</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %} <!--Nav-->
{% block contenido_principal_inicio %}{% endblock %}
{% block contenido_formulario_ejercicios %}{% endblock %}
{% block contenido_formulario_login %}{% endblock %}
{% block contenido_api %}{% endblock %}

   <!--Footer. Será el mismo para todas las páginas (heredado) salvo registro y login-->
{% block footer %}
    <footer class="pie_pagina">
        <nav class="navbar navbar-expand-lg navbar-light" id="footer-botones">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a target="_blank" role="button" href="https://github.com/sergiovp"
                        type="button" class="btn btn-outline-dark"><i class="fab fa-github-square"></i>
                    </a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a target="_blank" role="button" href="https://www.linkedin.com/in/sergio-vela-pelegrina-8015721b4"
                        type="button" class="btn btn-outline-primary"><i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <a target="_blank role="button" href="https://www.instagram.com/sergiovela7/"
                    type="button" class="btn btn-outline-danger"><i class="fab fa-instagram"></i>
                </a>
                </div>
            </div>    
        </nav>

        <section class="seccion_copyright">
            <p class="mensaje_copy">Copyright © Todos los derechos reservados al
                autor Sergio Vela Pelegrina (sergiovp96@gmail.com)</p>
        </section>
    </footer>
{% endblock %} <!--Footer-->    

</body>
</html>
