{% extends "base.html" %}

{% block titulo %}Mapa{% endblock %}

{%block addlink %}
    <script src="{{ url_for('static', filename='js/mapa.js') }}"></script>
{% endblock %}

{% block item_mapa %}
    <li class="nav-item active" style="font-weight: bold;">
{% endblock %}

{% block contenido_mapa %}
<div id="pokemon-desconocido">
</div>
<div id="mapid">
</div>

<!-- latitud y longitud se rellenarán con jinja con lo que le pasemos de la función -->
<p id="latitud">{{ latitud }}</p>
<p id="longitud">{{ longitud }}</p>

<script>
    const latitud = getLatitud();
    const longitud = getLongitud();
    getMapa(latitud, longitud);
</script>

{% endblock %}
