body {
    background-color: #e3f2fd;
}

body > .navbar.navbar-expand-lg.navbar-light {
    border-bottom: solid;
    border-width: thin;
    margin-bottom: 1.1rem;
    border-color: #cbe7fb;
}

/* Reglas para el Footer (Pie de página) */
.pie_pagina {
    border-top: solid;
    border-width: thin;
    margin-top: 1.1rem;
    border-color: #cbe7fb;
}

.pie_contacto {
    text-align: center;
}

.seccion_copyright {
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}

.btn-toolbar {
    display: block;
    text-align: center;
}

#footer-botones {
    display: list-item;
    border: none;
}

/* Formulario ejercicios */
.form-blok {
    text-align: center;
}

.nombre-usuario {
    text-decoration: underline;
    margin-right: 2em;
}

#mensaje-bienvenida {
    margin-top: 1rem;
}

#mensaje-bienvenida span {
    color: blue;
    font-size: 1.2rem;
}

/* Página Pokémon */

.pokemon-pares {
    text-align: center;
}

.pokemon-impares {
    background-color: #cbe7fb;
    text-align: center;
}

.título-pokedex {
    text-align: center;
    margin-bottom: 2rem;
}

.buscador-nombre {
    text-align: center;
}

.id-nombre {
    text-decoration: underline;
    font-size: 1.1rem;
}

.formulario-busqueda-nombre {
    margin-bottom: 2rem;
}

#aceptar-nombre {
    margin-top: 1.2rem;
}

.buscador-tipo {
    text-align: center;
}

#aceptar-tipo {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

/* MODO NOCHE */

body.dark-mode {
    background-color:#222;
    color: blanchedalmond !important;
}

body.dark-mode > nav > a:nth-child(2), 
body.dark-mode #navbarSupportedContent > ul > li.nav-item.active > a,
body.dark-mode #navbarSupportedContent > ul > li.nav-item > a {
    color: blanchedalmond;
}

body.dark-mode #navbarSupportedContent > div > div:nth-child(2) > a,
body.dark-mode #footer-botones > div > div:nth-child(1) > a {
    color: burlywood;
    border-color: burlywood;
}

#boton-claro {
    display: none;
}

body.dark-mode .pokemon-impares {
    background-color: darkslategray;
    text-align: center;
}

/* Para las imágenes de Pokémon */
body > div > div > div > div > img {
    width: 120px;
    height: 120px;
}

#txt > div > div > div > div > img {
    width: 120px;
    height: 120px;
}

body.dark-mode #txt > div > div > div > div > p > a {
    color: azure;
}

#txt > div > div > div > div > p > a {
    color: blue;
}
