body {
    background-color: #e3f2fd;
}

.navbar.navbar-expand-lg.navbar-light {
    background-color: #e3f2fd;
    border-bottom: solid;
    border-width: thin;
    margin-bottom: 1.1rem;
    border-color: #cbe7fb;
}

/* Reglas para el Footer (Pie de página) */
.pie_pagina {
    background-color: #e3f2fd;
    border-top: solid;
    border-width: thin;
    margin-top: 1.1rem;
    border-color: #cbe7fb;
}

.pie_contacto {
    text-align: center;
}

.seccion_copyright {
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}

.btn-toolbar {
    display: block;
    text-align: center;
}

#footer-botones {
    display: list-item;
    border: none;
}

/* TEST MAIN CONTENT */
.hola {
    border: solid;
}

/* Formulario ejercicios */
.form-blok {
    text-align: center;
}

.nombre-usuario {
    text-decoration: underline;
    margin-right: 2em;
}

#mensaje-bienvenida {
    margin-top: 1rem;
}

#mensaje-bienvenida span {
    color: blue;
    font-size: 1.2rem;
}
