{% extends "base.html" %}
{% block titulo %}Inicio{% endblock %}

{% block item_inicio %}
    <li class="nav-item active">
{% endblock %}

{% block contenido_principal_inicio %}
   <div class="container">
       <div class="row">
           <div class="col-md-8 col-sm-12 hola">
                <p>Contenido</p>
                <p>Contenido</p>
                <p>Contenido</p>
                <p>Contenido</p>
           </div>
           <div class="col-md-4 col-sm-12 hola">
                <p>Menú lateral</p>
                <p>Menú lateral</p>
                <p>Menú lateral</p>
                <p>Menú lateral</p>
           </div>
       </div>
   </div>
{% endblock %}